<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
{{ encore_entry_link_tags('app') }}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ url('feed_index') }}">Feed Ingestion</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{#    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ path('app_logout') }}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('feed_index') }}">
                            <span data-feather="home"></span>
                            Feed
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('mapping_feed_company') }}">
                            <span data-feather="list"></span>
                            Company Mappings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('feed_trash_bin') }}">
                            <span data-feather="trash"></span>
                            Trash
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin" target="_blank">
                            <span data-feather="external-link"></span>
                            Getwork Control Center
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            {{ include('_alert.html.twig') }}
            <div id="app">
                {% block body %}{% endblock %}
            </div>
        </main>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
